.home-page {
  .navigation {
    @apply flex items-center justify-between space-x-4 min-w-[1014px];
    &-wrapper {
      @apply overflow-auto;
      /* Hide scrollbar for IE, Edge and Firefox */
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width:    none; /* Firefox */
      /* Hide scrollbar for Chrome, Safari and Opera */
      &::-webkit-scrollbar {
        display: none;
      }
    }
    a {
      @apply text-white transition hover:text-[#f9a156];
      &.active {
        @apply text-[#f9a156];
      }
    }
  }
  .tab-item {
    @apply relative text-[#CCBCAC] text-sm md:text-base font-bold cursor-pointer transition-all;
    &:hover, &:active, &.active {
      @apply text-secondary;
      &:before {
        @apply opacity-100;
      }
    }
    &:before {
      content: '';
      @apply opacity-0 absolute left-0 -bottom-1 w-full h-0.5 bg-secondary;
    }
  }
}