.services-page {
  .services {
    a {
      @apply py-2 md:pt-5 md:pb-4 flex justify-between items-center text-right text-[50px] md:text-[60px] xl:text-[80px] border-b border-b-primary transition-all;
      &:hover {
        @apply text-secondary;
        span {
          @apply text-secondary;
        }
      }
      span {
        @apply text-3xl md:text-[40px] xl:text-[60px] md:leading-snug ml-2 transition-all;
      }
    }
  }
  .label {
    @apply mb-2 md:absolute md:-left-4 2xl:-left-8 md:top-5 text-[15px] md:text-xl origin-top-left md:rotate-90;
  }
  .list {
    list-style-type: square;
    @apply pl-4 md:pl-0;
    li {
      @apply mb-5 text-secondary text-[13px] lg:text-xl xl:text-3xl font-light;
      span {
        @apply text-[13px] leading-snug lg:text-xl xl:text-3xl lg:leading-snug xl:leading-snug font-light text-primary;
      }
    }
  }
  .tokenize {
    @apply mb-12 flex items-start justify-between flex-wrap w-full md:w-9/12 ml-auto;
    li {
      @apply flex items-start md:items-center flex-col md:flex-row mb-10 md:mb-28 w-[48%] md:w-[45%];
      img {
        @apply w-20 lg:w-36 md:mr-[12%] mb-6 md:mb-0;
      }
      p {
        @apply mb-0;
      }
      span {
        @apply font-bold;
      }
    }
  }
  .tokenize-circle {
    &.animation {
      .circle-image:before {
        @apply scale-100 md:scale-[1.13];
      }
      p {
        @apply opacity-100 translate-x-0;
      }
    }
    @apply flex justify-between items-center flex-wrap;
    .circle-item {
      @apply mb-10 md:mb-0 w-full md:w-[48%] flex items-center flex-col md:flex-row text-center md:text-left;
    }
    .circle-image {
      @apply relative text-[80px] 2xl:text-[150px] leading-none w-[216px] min-w-[216px] h-[216px] 2xl:w-[354px] 2xl:min-w-[354px] 2xl:h-[354px] bg-secondary text-white rounded-full flex items-center justify-center;
      &:before {
        content: '';
        @apply block absolute -z-10 left-0 top-0  w-full h-full bg-secondary rounded-full transition-all ease-in-out delay-200    duration-700;
      }
    }
    p {
      @apply opacity-0 -translate-x-full mt-4 md:mt-0 md:ml-6 2xl:ml-24 text-secondary mb-0 transition-all ease-in-out delay-200 duration-700;
    }
  }
  .networks {
    @apply hidden md:block relative h-[300px] mb-28;
    &.animation {
      span {
        @apply opacity-100;
        &:nth-child(2) {
          @apply left-20;
          top: calc(50% + 40px);
        }
        &:nth-child(3) {
          @apply left-20;
          top: calc(50% - 40px);
        }
        &:nth-child(4) {
          @apply left-40 top-1/2;
        }
        &:nth-child(5) {
          @apply left-40;
          top: calc(50% + 80px);
        }
        &:nth-child(6) {
          @apply left-40;
          top: calc(50% - 80px);
        }
        &:nth-child(7) {
          @apply left-60;
          top: calc(50% + 40px);
        }
        &:nth-child(8) {
          @apply left-60;
          top: calc(50% - 40px);
        }
        &:nth-child(9) {
          @apply left-60;
          top: calc(50% + 120px);
        }
        &:nth-child(10) {
          @apply left-60;
          top: calc(50% - 120px);
        }
      }
    }
    span {
      @apply left-0 top-1/2 opacity-0 inline-block absolute w-14 h-14 bg-secondary -translate-y-1/2 transition-all ease-in-out delay-200 duration-1000;
    }
  }
  .custody {
    @apply flex justify-between items-center md:items-stretch text-center max-w-7xl mx-auto mt-8 md:mt-24 mb-8 md:mb-44 flex-col md:flex-row;
    &.animation {
      li {
        @apply translate-x-0 opacity-100;
        &:nth-child(1) {
          @apply translate-x-0;
        }
      }
    }
    li {
      @apply translate-x-[800px] opacity-0 max-w-[150px] md:max-w-[310px] flex flex-col px-1 mb-12 md:mb-0 transition-all ease-in-out duration-1000;
      &:nth-child(1) {
        @apply -translate-x-[800px];
      }
      img {
        @apply mx-auto h-24 lg:h-40 w-auto my-2 md:mt-6 md:mb-14;
      }
      p {
        @apply text-secondary m-0;
        &:nth-child(1) {
          @apply flex-auto;
        }
        &.sub {
          @apply text-[15px] md:text-xl text-secondary;
        }
      }
    }
  }
  .asset-markets {
    @apply w-full md:w-7/12 flex items-center justify-between relative mt-8 md:mt-16;
    &.animation {
      .square {
        @apply rounded-none left-full -translate-x-full;
      }
      .line {
        @apply w-full;
      }
    }
    .circle, .square {
      @apply w-[57px] md:w-[117px] h-[57px] md:h-[117px] bg-secondary rounded-[100px];
    }
    .square {
      @apply absolute z-10 left-0 top-0  transition-all ease-in-out duration-1000;
    }
    .line {
      @apply absolute left-0 top-0 w-0 h-[200%] border-t-4 border-t-secondary rounded-[50%] transition-all ease-in-out duration-1000;
    }
  }
  .blockchain {
    @apply relative;
    &.mod {
      li {
        @apply flex items-center justify-between mb-0 md:mb-0;
        &:not(:last-child) {
          @apply mb-5 md:mb-12;
        }
        &:last-child {
          @apply border-b-0;
        }
        p {
          @apply mb-5 md:mb-12;
        }
        img {
          @apply w-[50px] lg:w-[94px] max-h-[50px] lg:max-h-[90px] object-contain ml-[24%];
        }
      }
    }
    li {
      @apply border-b border-b-primary mb-3 md:mb-6;
      h3 {
        @apply mb-0 text-xl text-2xl xl:text-[40px] font-bold leading-[1.325] mb-0.5;
      }
      p {
        @apply mb-3 md:mb-8;
      }
    }
  }
  .harnessing {
    @apply flex flex-col items-center mt-10 md:mt-16 relative;
    li {
      @apply inline-block text-[15px] md:text-3xl mb-4 md:mb-9 font-light cursor-pointer transition-all hover:text-secondary;
      &.active {
        .info {
          @apply block;
        }
      }
    }
    .info {
      @apply mt-3 mb-5 mx-auto lg:hidden lg:absolute right-0 lg:top-1/2 lg:-translate-y-1/2 rounded-[29px] bg-secondary p-5 text-xl text-white max-w-[242px];
    }
  }
  .journey {
    @apply mb-12 md:mb-28 flex justify-between text-center flex-col md:flex-row;
    &.animation {
      li {
        @apply translate-x-0 opacity-100;
        &:nth-child(1) {
          @apply translate-x-0;
        }
      }
    }
    li {
      @apply translate-x-[800px] opacity-0 mx-auto mb-10 md:mb-0 relative w-full max-w-[250px] md:max-w-none md:w-[22%] border-[3px] border-secondary rounded-[39px] xl:rounded-[62px] py-6 xl:py-12 px-4 transition-all ease-in-out duration-1000;
      &:nth-child(1) {
        @apply -translate-x-[800px];
      }
      h3, p {
        @apply text-secondary;
      }
      h3 {
        @apply text-xl xl:text-[35px] font-bold leading-[1.3];
      }
      p {
        @apply mb-0 text-[15px] xl:text-[25px] leading-[1.2];
      }
      img {
        @apply absolute right-1/2 md:right-0 top-full md:top-1/2 w-[16.5%] md:w-[15%] translate-y-full md:-translate-y-1/2 translate-x-1/2 md:translate-x-full rotate-90 md:rotate-0;
      }
    }
  }
}
