.services-page {
  .services {
    a {
      @apply flex justify-between items-center text-right text-3xl md:text-[40px] xl:text-[60px] md:leading-snug py-6 md:py-12 border-b border-b-primary transition-all;
      &:hover {
        @apply text-secondary;
        span {
          @apply text-secondary;
        }
      }
      span {
        @apply ml-2 transition-all
      }
    }
  }
  .label {
    @apply mb-2 md:absolute md:-left-4 md:top-5 text-[15px] md:text-xl origin-top-left md:rotate-90;
  }
  .list {
    list-style-type: square;
    @apply pl-4 md:pl-0;
    li {
      @apply mb-4 text-secondary text-[13px] lg:text-xl xl:text-3xl font-light;
      span {
        @apply text-[13px] leading-snug lg:text-xl xl:text-3xl lg:leading-snug xl:leading-snug font-light text-primary;
      }
    }
  }
  .tokenize {
    @apply flex items-start justify-between flex-wrap w-full md:w-9/12 ml-auto;
    li {
      @apply flex items-start md:items-center flex-col md:flex-row mb-10 md:mb-24 w-[48%] md:w-[44%];
      img {
        @apply w-20 lg:w-32 md:mr-6 mb-6 md:mb-0;
      }
      p {
        @apply mb-0;
      }
      span {
        @apply font-bold;
      }
    }
  }
  .tokenize-circle {
    @apply flex justify-between items-center flex-wrap;
    .circle-item {
      @apply mb-10 md:mb-0 w-full md:w-[48%] flex items-center flex-col md:flex-row text-center md:text-left;
    }
    .circle-image {
      @apply text-[80px] 2xl:text-[150px] leading-none w-[216px] min-w-[216px] h-[216px] 2xl:w-[400px] 2xl:min-w-[400px] 2xl:h-[400px] bg-secondary text-white rounded-full flex items-center justify-center;
    }
    p {
      @apply mt-4 md:mt-0 md:ml-4 2xl:ml-10 text-secondary mb-0;
    }
  }
  .networks {
    @apply hidden md:block relative h-[300px] mb-20;
    span {
      @apply inline-block absolute w-14 h-14 bg-secondary -translate-y-1/2;
      &:nth-child(1) {
        @apply left-0 top-1/2;
      }
      &:nth-child(2) {
        @apply left-20;
        top: calc(50% + 40px);
      }
      &:nth-child(3) {
        @apply left-20;
        top: calc(50% - 40px);
      }
      &:nth-child(4) {
        @apply left-40 top-1/2;
      }
      &:nth-child(5) {
        @apply left-40;
        top: calc(50% + 80px);
      }
      &:nth-child(6) {
        @apply left-40;
        top: calc(50% - 80px);
      }
      &:nth-child(7) {
        @apply left-60;
        top: calc(50% + 40px);
      }
      &:nth-child(8) {
        @apply left-60;
        top: calc(50% - 40px);
      }
      &:nth-child(9) {
        @apply left-60;
        top: calc(50% + 120px);
      }
      &:nth-child(10) {
        @apply left-60;
        top: calc(50% - 120px);
      }
    }
  }
  .custody {
    @apply flex justify-between items-center md:items-stretch text-center max-w-7xl mx-auto mt-8 md:mt-20 mb-8 md:mb-32 flex-col md:flex-row;
    li {
      @apply max-w-[150px] md:max-w-[310px] flex flex-col px-1 mb-12 md:mb-0;
      img {
        @apply mx-auto h-24 lg:h-36 w-auto my-2 md:my-6;
      }
      p {
        @apply text-secondary m-0;
        &:nth-child(1) {
          @apply flex-auto;
        }
        &.sub {
          @apply text-[15px] md:text-xl text-secondary;
        }
      }
    }
  }
  .blockchain {
    @apply relative w-full md:w-[41%];
    li {
      @apply border-b border-b-primary mb-3 md:mb-6;
      h3 {
        @apply mb-0 text-xl text-2xl xl:text-[40px] font-bold leading-tight;
      }
      p {
        @apply mb-3 md:mb-6;
      }
    }
  }
  .harnessing {
    @apply flex flex-col items-center py-10 md:py-20 relative;
    li {
      @apply inline-block text-[15px] md:text-3xl mb-4 md:mb-8 font-light cursor-pointer transition-all hover:text-secondary;
      &.active {
        .info {
          @apply block;
        }
      }
    }
    .info {
      @apply mt-3 mb-5 mx-auto lg:hidden lg:absolute right-0 lg:top-1/2 lg:-translate-y-1/2 rounded-[29px] bg-secondary p-5 text-xl text-white max-w-[242px];
    }
  }
}
