* {
  @apply text-primary;
  font-family: Roboto, sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1, h2 {
  // font-size: 80px
  line-height: 1.325 !important;
  @apply mb-4 text-3xl lg:text-5xl xl:text-[80px] font-light;
  span {
    @apply font-bold;
  }
}

h3 {
  // font-size: 50px
  @apply mb-4 text-3xl xl:text-[50px] leading-snug lg:leading-snug font-light;
  span {
    @apply font-bold;
  }
}

p {
  // font-size: 30px
  @apply mb-4 text-[15px] leading-snug lg:text-xl xl:text-3xl lg:leading-snug xl:leading-snug font-light;
  span {
    @apply font-bold;
  }
}

a {
  @apply font-light;
}

.square-small {
  @apply flex items-center space-x-2;
  div {
    @apply w-4 lg:w-[22px] xl:w-[30px] h-4 lg:h-[22px] xl:h-[30px] bg-secondary;
  }
}

.btn {
  @apply relative inline-flex items-center uppercase;
  &:hover {
    div {
      &:not(.text) {
        @apply rotate-90;
      }
      &:nth-child(2) {
        @apply md:mr-32;
      }
      &.text {
        @apply opacity-100;
      }
    }
  }
  div {
    &:not(.text) {
      @apply w-4 lg:w-[22px] xl:w-[30px] h-4 lg:h-[22px] xl:h-[30px] bg-secondary transition-all duration-500;
    }
    &:nth-child(1) {
      @apply hidden md:block;
    }
    &:not(:nth-child(1)) {
      @apply ml-2;
    }
    &.text {
      @apply text-[15px] md:text-lg lg:text-xl md:absolute md:right-7 xl:right-9 md:top-1/2 md:-translate-y-1/2 md:leading-none md:opacity-0 text-secondary whitespace-nowrap transition-all duration-500;
    }
  }
}